{% extends 'mobile/base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
Mobile<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
{% endblock %}