{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
Page Content<br/>
{% endblock %}